/* Full screen background */
.bg-wrapper {
  position: fixed;
  inset: 0;

  width: 100vw;
  height: 100vh;

  z-index: -1;
  overflow: hidden;
}

/* Make canvas fill screen */
.bg-wrapper canvas {
  width: 100% !important;
  height: 100% !important;

  background: transparent !important;
  display: block;
}
